<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet pour les appels API OVH -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <!-- Pour Android 14+ si besoin : -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" /> -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.miseservice.smsovh.SEND_SMS_PERMISSION" />

    <permission android:name="com.miseservice.smsovh.SEND_SMS_PERMISSION" android:protectionLevel="signature" />

    <application
        android:name=".SmsOvhApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OvhSms"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.SmsOvhForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

    <uses-feature android:name="android.hardware.telephony" android:required="false" />

</manifest>
